@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable";
}

body{
    background-color: #F8FBF2;
}

header {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

header h1{
    font-family: 'GyeonggiTitleM';
    font-size: 20px;
}

header ul{
    display: flex;
    list-style: none;
    font-weight: 600;
}

.menu > li{
    margin: 0 20px;
}

header a {
    color: #444;
    text-decoration: none;
}

li a:hover{
    color: #8EC31F;
}

.buttonPage {
    margin-top: 100px;
    text-align: center;
}

#page, #pageHere {
    background-color: #fff;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 2000px;
    padding: 12px 36px;
    margin: 0 24px;
}

#page:hover, #pageHere:hover {
    background-color: #638E09;
    color: #fff;
}

#pageHere {
    background-color: #8EC31F;
    color: #fff;
}

.hero {
    background-image: url('010.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 700px; /* 적절한 높이 설정 */
    text-align: center;
    align-items: center;
}

.hero > p {
    padding-top: 190px;
    font-size: 26px;
    color: #244A2C;
    font-weight: 600;
    padding-bottom: 60px;
}

.hero > h1 {
    font-size: 60px;
    line-height: 1.7;
    padding-bottom: 120px;
}


.textbox {
    transition: transform 0.7s ease-out; /* 부드러운 애니메이션을 위한 설정 */
    transform: translateY(50vh); /* 화면의 반만큼 아래로 숨김, 처음에 일부분 보임 */
    padding: 88px 112px;
    margin: 120px auto 160px auto;
    background-color: #FFFEFE;
    width: 56vw;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.textbox.active {
    transform: translateY(0); /* 중앙 또는 설정된 위치로 이동 */
}

.big {
    font-size: 1.2rem;
    font-weight: 600;
}

.text {
    margin-top: 0.4rem;
    font-size: 1.1rem;
    line-height: 1.4;
}

/* footer */
footer{
    margin-top: 50px;
    background-color: #1e1e1e;
    text-align: center;
    padding: 30px;
}
footer img{
    width: 100px;
    margin-bottom: 20px;
}
footer i{
    width: 30px;
    color: white;
}

/* table */
.month{
    margin-top: 5vh;
    text-align: center;
    
}
.month h2{
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'GyeonggiTitleM';
}
.month hr{
    width: 10vw;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1.5px solid;
}
.calendar{
    border-spacing: 10px;
    border-collapse: separate;
    overflow: hidden;
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
    display: table;
}
.calendar td, .calendar th{
    border-radius: 10px;
    padding: 10px;
    vertical-align: text-top;
    font-size: 15px;
}
th h1{
    font-size: 15px;
    font-weight: 600;
}
.calendar th{
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}
td{
    text-align: left;
    width: 200px; 
    height: 120px; 
    font-weight: 600;
    font-size: 10px;
    background-color: #F6F6F6;
}
#sun{
    color: #fc5e5e;
}
#sat{
    color: #7883ff;
}
.gray{
    color: #CDCDCD;
}
/* styles.css */
.container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8EC31F;
    transition: background, 0.5s ease;
}
.cover{
    color: white;
    font-weight: 600;
    font-family: "Pretendard Variable";
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}
.block h3{
    color: white;
    line-height: 160%;
    font-weight: 500;
    font-size: 12px;
    font-family: "Pretendard Variable";
}
.hidden{
    text-decoration: none;
    display: flex;
    color: #638E09;
    background-color: white;
    border-radius: 5px;
    width: 154px;
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 15px;
    text-align: center;
    height: 35px;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: transform 0.5s ease;

}
.hidden hr{
    margin: 5px auto;
    width: 130%;
}
.block:hover {
    background-color: #638E09;
}

.block:hover .hidden{
    z-index: 1;
    transform: translateY(-15px);
}